.DS_Store
.nyc_output
tmp
.idea
/node_modules
/packages/*/node_modules
/packages/*/types
/packages/*/doc
types
/packages/*/test/fixtures/**/node_modules
/boilerplates/*/node_modules
lib
docs
dist
dist-miniprogram
coverage
.nyc_output
npm-debug.log*
lerna-debug.log
.changelog
playground/node_modules
playground/src/test
AUTHORS
