registry=https://registry.npmmirror.com/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
electron_mirror=https://npmmirror.com/mirrors/electron/
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver/
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
canvas_binary_host_mirror=https://npmmirror.com/mirrors/canvas/

auto-install-peers=true
