name: Release Editor Kit

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to use for editor-preload package'
        required: true
      use_npm:
        description: 'Use npm packages instead of building from source'
        type: boolean
        default: true

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '>=22.6.0'
          registry-url: https://registry.npmjs.org/
          cache: pnpm

      - name: Make build script executable
        run: chmod +x ./scripts/build-editor-preload.js

      - name: Build editor-preload package
        run: |
          USE_NPM_ARG=""
          if [ "${{ github.event.inputs.use_npm }}" == "true" ]; then
            USE_NPM_ARG="--use-npm"
          fi
          
          ./scripts/build-editor-preload.js --version=${{ github.event.inputs.version }} $USE_NPM_ARG

      - name: Release editor-preload package and Sync to CDN
        uses: galacean/publish@main
        with:
          publish: false
          packages: |
            editor-preload
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
          NPM_CONFIG_PROVENANCE: true
          OASISBE_UPLOAD_URL: https://oasisbe.alipay.com/api/file/no-auth/crypto/upload
          OASISBE_REQUEST_HEADER: ${{secrets.OASISBE_REQUEST_HEADER}}
          OASISBE_PUBLIC_KEY: ${{secrets.OASISBE_PUBLIC_KEY}}
