# This is a basic workflow to help you get started with Actions

name: Generate TypeDoc

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout Engine repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: true

      # after pnpm
      - name: Use Node.js LTS
        uses: actions/setup-node@v4
        with:
          node-version: '>=22.6.0'
          registry-url: https://registry.npmjs.org/
          cache: pnpm

      - name: Ensure TypeDoc Directory Exists
        run: mkdir -p ${{ github.workspace }}/galacean-typedoc/dist

      - name: Create package.json for galacean-typedoc
        run: |
          VERSION=$(jq -r '.version' ${{ github.workspace }}/packages/galacean/package.json)
          echo "{\"name\": \"galacean-typedoc\", \"version\": \"$VERSION\"}" > ${{ github.workspace }}/galacean-typedoc/package.json
          cat ${{ github.workspace }}/galacean-typedoc/package.json

      - name: Set execute permission for typedoc.sh
        run: chmod +x ./scripts/typedoc.sh

      - name: Generate TypeDoc Json
        run: ./scripts/typedoc.sh

      - name: Upload Typedoc JSON to CDN
        uses: galacean/publish@main
        if: success() || failure()
        with:
          publish: false
          packages: |
            galacean-typedoc
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
          NPM_CONFIG_PROVENANCE: true
          OASISBE_UPLOAD_URL: https://oasisbe.alipay.com/api/file/no-auth/crypto/upload
          OASISBE_REQUEST_HEADER: ${{secrets.OASISBE_REQUEST_HEADER}}
          OASISBE_PUBLIC_KEY: ${{secrets.OASISBE_PUBLIC_KEY}}
